body {
    margin: 0;
}

.navbar {
    position: sticky;
    float: left;
    width: 100%;
    shape-outside: inset(50%);
    top: 0;
    font-family: "Cascadia Code", monospace;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: #316191;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link {
    width: 25%;
    text-align: center;
}

.nav-dd {
    width: 25%;
    position: relative;
    text-align: center;
}

.nav-dd .dropbtn {
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #316191;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav-link:hover,
.nav-dd:hover .dropbtn {
    font-size: 20px;
}

.nav-dd-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-dd-list a {
    float: none;
    color: black;
    padding: 12px 16px;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    gap: 6px;
}

.icon {
    display: inline;
    height: 20px;
    width: 20px;
}

.nav-dd-list a:hover {
    background-color: #ddd;
}

.nav-dd:hover .nav-dd-list {
    display: block;
}
