body {
    position: relative;
    margin: 0;
    min-height: 100vh;
}

div.profile {
    position: relative;
}

img.profile {
    //position: absolute;
    width: 100%;
    height: auto;
    vertical-align: top;
    z-index: -1;
}

a:visited {
    color: #152f63;
}

.headder {
    display: block;
    padding: 45px 0;
    margin: -45px 0;
    text-align: center;
    z-index: 9999;
}

.headder h2 {
    padding: 5px 0;
    font-family: "Cascadia Code", monospace;
    font-size: 20px;
    color: #316191;
    background-color: rgb(200, 200, 200);
}

.about {
    margin: 5px 0px;
    padding: 0px 15px;
    text-indent: 25px;
    text-align: justify;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#about h2 {
    margin: 0;
    margin-bottom: 19.92px;
}

.collapse {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 29px;
    width: 140px;
    border-radius: 14px;
    background-color: #eee;
    border: none;
    outline: none;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

#expand {
    display: block;
}

#collapse {
    display: none;
}

.active,
.collapse:hover {
    background-color: #ccc
}

.content {
    display: none;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.projects a {
    color: black;
}

.projectcard {
    position: relative;
    background-color: #aebdd1;
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

.projectcard:hover {
    height: 310px;
    width: 310px;
    margin: 5px;
}

.projectcard img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.projectcard h3 {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin: 0;
    background-color: rgb(255, 255, 255, 0.65);
    text-align: center;
    font-size: 1.2em;
    font-family: "Cascadia Code", monospace;
}

.footerspace {
    height: 60px;
}

.footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%
}

.footer div {
    display: block;
    background-color: rgb(200, 200, 200);
    color: black;
    height: 100%;
    width: 100%;
    text-align: center;
}

.footer p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 16px;
}
