.titlecard .background {
    opacity: 0.4;
}

.titlecard h1 {
    position: absolute;
    right: 65%;
    top: 30%;
    transform: translate(0, -50%);
    display: inline-block;
    text-align: center;
    font-size: 50px;
}

.titlecard .titleimage {
    position: absolute;
    top: 5%;
    left: 35%;
    display: inline-block;
    height: 90%;
}

.titlespace {
    height: 20px;
}
